h1{ 
    text-align: center;      
    color:rgb(255, 0, 0)
}
h2{
    color:white;
    text-align: center;
}
p{
    
    text-align: center;
}
body{
    background-image : url("kwaii_pastel_background___wallpaper___2_by_goldcat742_d71vlhq-fullview.jpg")
}
.header{
    
    background-color: #ffd902;
    display:flex;
    justify-content:space-between
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
.h1{
    text-align: center;  
}
